@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:500,600,700&display=swap);
.block1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #637381;
}
.block1{
    max-width: 1109px;
    margin: 0 auto;
    padding-top: 30px;
}
.title{
    margin-bottom: 45px;
}
ul{
    display: inline-block;
    max-width: 309px;
}



.list1{
    margin-right: 136px;
    margin-bottom: 60px;
    max-width: 264px
}
.list1 li{
    line-height: 0.93;
    margin-bottom: 18px;
}
.list1 li:last-child{
    margin-bottom: 0px;
}
.list1 li::before{
    content: "";
    display: inline-block;
    background: url("../img/tocka.jpg") 0 0 no-repeat;
    width: 8px;
	height: 8px;
    padding-right: 18px;
    padding-top: 10px;
}




.list2{
    margin-right: 83px;
    margin-bottom: 68px;
}
.list2 li{
    margin-bottom: 20px;
    line-height: 1;
    height: 20px;

}
.list2 li:last-child{
    margin-bottom: 0px;
}
.list2 li::before{
    content: "";
    display: inline-block;
    background: url("../img/blue.jpg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 30px;
}






.list3{
    margin-bottom: 68px;
    line-height: 1;
}

.list3 li:not(:last-child){
    margin-bottom: 18px;
}
.list3 li::before{
    content: "";
    display: inline-block;
    background: url("../img/gren.jpg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 30px;
}




.list4{
    margin-right: 103px;
}
.list4 li:not(:last-child){
    margin-bottom: 18px;
}
.list4 li::before{
    content: "";
    display: inline-block;
    background: url("../img/red.jpg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 30px;
    
}






.list5{
    margin-right: 73px;
}
.list5 li:not(:last-child){
    margin-bottom: 18px;
}
.list5 li::before{
    content: "";
    display: inline-block;
    background: url("../img/strilca.jpg") 0 0 no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 30px;
}



.list6 li:not(:last-child){
    margin-bottom: 19px;
}
.list6 li::before{
    content: "";
    display: inline-block;
    background: url("../img/zirca.jpg") 0 0 no-repeat;
    width: 18px;
    height: 18px;
    padding-right: 28px;
}



.block2{
    width: 100%;
    background: #F4F7FF;
    background: url("../img/grad.png") 905px 0 / 620px 570px no-repeat, linear-gradient(90deg, rgba(48, 86, 211, 0.08) 16.13%, rgba(48, 86, 211, 0) 86.29%), url("../img/grad22.jpg") 820px 0 / 620px 570px no-repeat;
}

.block2__container1{
    max-width: 1020px;
    margin: 0 auto;
}

.block2__container2{
    display: inline-block;
}


.block2__container2{
    font-family: 'Inter';
    font-size: 16px;
    max-width: 570px;
    margin-right: 173px;
}
.title2 h2{
    margin-top: 145px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: #3056D3;
    margin-bottom: 13px;
}
.title2 h3{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212B36;
    max-width: 470px;
    margin-bottom: 15px;
}
.content1{
    font-weight: 500;
    line-height: 1.5;
    color: #637381;
    margin-bottom: 35px;
    max-width: 570px;
}
.button{
    width: 139px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 156px;
    background: #3056D3;
    border-radius: 30px
}
.button p{
    padding: 10px 30px;
    color: #FFFFFF;
}
.button p:hover{
    text-decoration: underline
}
.button p:active{
    color: #212B36;
}
.music{
    margin-top: 81px;
}



.block3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.66;
    background: url("../img/01.jpg") center / cover no-repeat;
    color: #E5E5E5;
    border-radius: 0px 5px 5px 0px;
}
.block3__container3{
    max-width: 1240px;
    margin: 0 auto;
}
.data{
    padding-top: 330px;
    margin-bottom: 15px;
}
h4{
    max-width: 605px;
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #F8F9FA;
    margin-bottom: 15px;
}
.paragraph{
    padding-bottom: 100px;
}





